[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
gunicorn = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.9"
